*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}

.container {
  margin-left: 15rem;
}

@media (max-width: 740px) {
  .container {
    margin-left: 0;

  }
}